.body {
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 15rem;
  color: rgb(7, 1, 12);
  margin: 1, 1, 1, 1;
  max-width: 90%;
}

header {
  font-size: 100%;
  text-decoration: none;
  background-color: rgb(227, 184, 243);
  margin-bottom: auto;
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  background-color: rgb(227, 184, 243);
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  grid-area: footer;
  position: absolute;
  color: rgb(7, 1, 12);
}

ul {
  list-style-type: none;
  display: flex;
  align-content: space-around 1rem;
}

li:hover {
  list-style-type: none;
  margin: 1rem;
  background-color: blueviolet;
  transition: 1s;
}

.navbar-brand {
  width: 5rem;
}

a {
  text-decoration: none;
  color: rgb(36, 18, 50);
}

.logo {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 300%;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 5px rgb(220, 194, 236);
  padding: 2rem;
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
}

h3 {
  margin-top: 3rem;
}

img {
  max-width: 100%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

.imagen_principal {
  grid-area: imagen;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.historia {
  background-color: rgba(187, 167, 198, 0.653);
  grid-area: historia;
}

article {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carta1 {
  display: flex;
  flex-direction: row-reverse;
  color: rgb(7, 1, 12);
  background-color: rgb(204, 178, 233);
}

.carta2 {
  display: flex;
  justify-content: flex-end;
  color: rgb(7, 1, 12);
  background-color: rgb(204, 178, 233);
}

.caja-habitaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}

.card {
  border: double 0.2rem rgb(42, 8, 84);
  display: inline-block;
  background-image: linear-gradient(to bottom right, rgb(216, 156, 231), rgb(237, 216, 170));
  grid-area: card;
  margin-bottom: 2rem;
}

.card__texto {
  font-size: 1.2rem;
  margin-bottom: 0, 5rem;
  text-align: center;
}

.boton:hover {
  padding: 1rem;
  margin-top: 2rem;
  border-bottom-color: rgb(209, 177, 239);
  background-color: blueviolet;
  transition: all 1s;
}

.habitacion__img {
  max-width: 100%;
  width: 30rem;
}

.video {
  text-align: center;
}

/*contacto*/
.contenedor {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem auto 3rem;
  grid-template-areas: "header header" "formulario mapa " "footer footer ";
}

.recreacion {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto auto 5rem;
  grid-template-areas: "header" "horarios" "galeria" "footer";
}

#carouselExampleIndicators {
  width: 50px;
  margin: 0 auto;
}

.horarios {
  grid-area: horarios;
}

table {
  color: rgb(40, 9, 68);
  text-align: center;
  margin-top: 7rem;
  margin-left: 15rem;
  background: white;
  bottom: 15rem;
  margin-bottom: 3rem;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/light-grey-terrazzo.png);
}

#carouselExampleIndicators {
  width: 50rem;
  margin: 0 auto;
}

.contenedor {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem auto 3rem;
  grid-template-areas: "header header" "formulario mapa " "footer footer ";
}

.caja-contacto {
  grid-area: formulario;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contacto {
  border: double 0.2rem rgb(42, 8, 84);
  margin-inline: 5rem;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/light-grey-terrazzo.png);
}

input:focus {
  width: 20rem;
}

h3 {
  text-align: center;
  color: rgb(40, 9, 68);
}

.mapa {
  text-align: center;
  grid-area: mapa;
  margin-top: 3rem;
}

.menu {
  list-style-type: none;
  text-align: center;
  margin-bottom: 3rem;
}

.col {
  width: 24rem;
}

@media screen and (max-width: 840px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
  footer {
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
