.body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 15rem;
    color: $violeta;
    margin: (1, 1, 1, 1);
    max-width: 90%;
}

header {
    font-size: 100%;
    text-decoration: none;
    background-color: $lila;
    margin-bottom:auto;
    grid-area:header;
}



    main{
    grid-area: main;
    
}

footer {
    background-color: $lila;
    margin-top: 4rem;
    width:100%;
    text-align: center;
    grid-area: footer;    
    position: absolute;
    color: rgb(7, 1, 12)
}

ul {
    list-style-type: none;
    display: flex;
    align-content: space-around 1rem; 


}

li:hover {
    list-style-type: none;
    margin: 1rem;
    background-color: $violeta-oscuro;
    transition: 1s;

}

.navbar-brand {
    width: 5rem;
}

a {
    text-decoration: none;
    color: $violeta;
    
}

.logo {
    text-align: left;     
}




h1 {
    text-align: center;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px $lila;
    padding: 2rem;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
}

h3 {
    margin-top: 3rem;
}


img {
    max-width: 100%;
}

