.body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 15rem;
    color: rgb(7, 1, 12);
    margin: (1, 1, 1, 1);
    max-width: 90%;
}

header {
    font-size: 100%;
    text-decoration: none;
    background-color: rgb(203, 197, 208);
    opacity: 0.1;
    grid-area:header;
    display: flex;
    justify-content: flex-end;
}

main{
    grid-area: main;
}

footer {
    background-color: rgb(203, 197, 208);
    opacity: 0.1;
    width:100%;

    text-align: center;
    grid-area: footer;    
    position: absolute;
}

ul {
    list-style-type: none;
    display: flex;
    align-content: space-around 1rem; 


}

li:hover {
    list-style-type: none;
    margin: 1rem;
    background-color: blueviolet;
    transition: 1s;

}



a {
    text-decoration: none;
    color: rgb(36, 18, 50);
    
}

.logo {
    text-align: left;     
}




h1 {
    text-align: center;
    font-size: 300%;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgb(220, 194, 236);
    padding: 2rem;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



img {
    max-width: 100%;
}

