.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer"
} 

.imagen_principal {
    grid-area: imagen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include medidas (0.5rem, 2rem)
}

.historia {
    background-color: rgba(187, 167, 198, 0.653);
    grid-area: historia;

}
article {
    margin-left: 1rem;
    margin-right: 1rem;
    @include medidas (1rem, 1rem)
}

.carta1 {
    display: flex;
    flex-direction: row-reverse;
    color:rgb(7, 1, 12) ;
    background-color: rgb(204, 178, 233);
}

.carta2 {
    display: flex;
   justify-content: flex-end;
    color:rgb(7, 1, 12) ;
    background-color: rgb(204, 178, 233);
}