.recreacion {
    
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto auto 5rem;
    grid-template-areas: 
    "header"
    "horarios"
    "galeria"
    "footer"
    ;

}

#carouselExampleIndicators {
    width: 50px;
    margin: 0 auto;
}

.horarios {
    grid-area: horarios;
}

table {
    color: rgb(40, 9, 68);
    text-align: center;
    margin-top: 7rem ;
    margin-left: 15rem;
    background: white;
    bottom: 15rem;
    margin-bottom: 3rem;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/light-grey-terrazzo.png);
}

#carouselExampleIndicators {
    width: 50rem;
    margin: 0 auto
}



