.menu {
    list-style-type: none;
    text-align: center;
    margin-bottom: 3rem;

}
.col {
    width: 24rem;
}

@media screen and (max-width:840px){
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    footer {
        position: relative;
    }
    }
