$violeta: rgb(7, 1, 12);
$lila: rgb(227, 184, 243);
$violeta-oscuro:  blueviolet; 
$arena: rgb(235,227,170);

@mixin medidas ($superior, $inferior) {
    margin-top: $superior;
    margin-bottom: $inferior;    
}


@mixin margenes ($arriba, $abajo, $derecho, $izquierda) {
    margin-top: $arriba;
    margin-bottom: $abajo;
    margin-right: $derecho;
    margin-left: $izquierda;
}